/* p:nth-child(3) {
    color: red
} */

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#principal {
    color: red;
}

#titulo {
    color: blue;
}

.texto_verde {
    color: green;
}

#paragrafos {
    background-color: red;
    color: white;
}

#subParagrafo {
    background-color: yellow;
    color: black;
}

#in {
    background-color: blue;
    color: white;
    width: 1in;
    height: 1in;
}

#cm {
    background-color: yellow;
    color: white;
    width: 1cm;
    height: 1cm;
}

#mm {
    background-color: red;
    color: white;
    width: 1mm;
    height: 1mm;
}

#px {
    background-color: white;
    border: solid 1px black;
    color: white;
    width: 50px;
    height: 50px;
}

#pt {
    background-color: black;
    color: white;
    width: 10pt;
    height: 10pt;
}

#pc {
    background-color: green;
    color: white;
    width: 1pc;
    height: 1pc;
}

html {
    font-size: 15px;
}

.container {
    font-size: 25px;
    width: 80%;
    height: 10vh;
    background-color: red;
}

.inside {
    font-size: 2rem;
    width: 80%;
    background-color: blue;
}

/* Então não é 80%, é 80% de 80%, portanto, não é 80%. Kkkk */

#base {
    height: 10px;
    background-color: red;
}

#sub {
    background-color: blue;
    color: white;
    padding-top: 10px;
}

.borda {
    border: 3px solid red;
}

.quadrado {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.margem {
    margin: 15px;
}

.espacamento {
    padding: 10px;
}

.box-model {
    background-color: red;
    padding: 5px;
    border: 5px solid blue;
    margin: 10px;
}

.content {
    background-color: #ddd;
    border: 5px solid green;
    margin: 5px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
    padding: 10px;
    box-sizing: border-box;
}

.square2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.vermelho {
    color: red;
}

.azul {
    color: blue;
}

.amarelo {
    color: yellow;
}

.preto {
    color: black;
}

.verde {
    color: green;
}

.texto-justificado {
    text-align: justify;
}

.texto-centralizado {
    text-align: center;
}

.texto-caixa-alta {
    text-transform: uppercase;
}

.texto-caixa-baixa {
    text-transform: lowercase;
}

.texto-identado {
    text-indent: 30px;
}

.texto-riscado {
    text-decoration: line-through;
}

.texto-sublinhado {
    text-decoration: underline;
}

.texto-muito-espacado {
    letter-spacing: 20px;
}

.texto-sombreado {
    text-shadow: 1px 1px #bbb;
}

.texto-com-serifa {
    font-family: 'Times New Roman', Times, serif;
}

.texto-sem-serifa {
    font-family: Arial, Helvetica, sans-serif;
}

.texto-italico {
    font-style: italic;
}