/* p:nth-child(3) {
    color: red
} */

#principal {
    color: red;
}

#titulo {
    color: blue;
}

.texto_verde {
    color: green;
}

#paragrafos {
    background-color: red;
    color: white;
}

#subParagrafo {
    background-color: yellow;
    color: black;
}